<link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
<div class="columns">
    <div class="column">1</div>
    <div class="notification">
        <label for="login"></label>
        <input id="login" name="login" type="text" placeholder="Manager or Associate name">
        <br><br>
        <label for="password"></label>
        <input id="password" name="password" type="text" placeholder="Enter Password">
        
        <button id="btn" (click)="addTask(); taskCreationForm.reset()">Submit</button>
    </div>
    <div class="column">3</div>
  </div>
